$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FC5A00;
$secondary_paletteKeyColor: #996E4D;
$tertiary_paletteKeyColor: #986F33;
$neutral_paletteKeyColor: #88726A;
$neutral_variant_paletteKeyColor: #8B7168;
$background: #1E100B;
$onBackground: #F9DDD3;
$surface: #1E100B;
$surfaceDim: #1E100B;
$surfaceBright: #47352F;
$surfaceContainerLowest: #180B07;
$surfaceContainerLow: #271813;
$surfaceContainer: #2B1C16;
$surfaceContainerHigh: #362620;
$surfaceContainerHighest: #42312B;
$onSurface: #F9DDD3;
$surfaceVariant: #58423A;
$onSurfaceVariant: #DFC0B5;
$inverseSurface: #F9DDD3;
$inverseOnSurface: #3D2D26;
$outline: #A78B81;
$outlineVariant: #58423A;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB59A;
$primary: #FFB59A;
$onPrimary: #5A1B00;
$primaryContainer: #802A00;
$onPrimaryContainer: #FFDBCE;
$inversePrimary: #A83900;
$secondary: #F0BC95;
$onSecondary: #48290D;
$secondaryContainer: #654123;
$onSecondaryContainer: #FFDEC7;
$tertiary: #F0BE79;
$onTertiary: #452B00;
$tertiaryContainer: #B5894A;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBCE;
$primaryFixedDim: #FFB59A;
$onPrimaryFixed: #380D00;
$onPrimaryFixedVariant: #802A00;
$secondaryFixed: #FFDCC4;
$secondaryFixedDim: #F0BC95;
$onSecondaryFixed: #2F1500;
$onSecondaryFixedVariant: #623F21;
$tertiaryFixed: #FFDDB3;
$tertiaryFixedDim: #F0BE79;
$onTertiaryFixed: #291800;
$onTertiaryFixedVariant: #624005;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #281610;
$term1: #F5612B;
$term2: #FFBE93;
$term3: #FFE0D1;
$term4: #B8AC66;
$term5: #F2917C;
$term6: #FFBC7E;
$term7: #EFD2C5;
$term8: #CBB4AB;
$term9: #FFAC90;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCFC4;
$term14: #FFF9F7;
$term15: #FFDBCE;
